
<%= form_for recipe do |f| %>

	<div class="form-group">
		<%= f.label 'Recipe Name:' %><br>
		<%= f.text_field :name, class: "form-control" %><br>
	</div>

	<div class="form-group">
		<%= f.label 'Description:' %><br>
		<%= f.text_area :description,  cols: 55, rows: 10, class: "form-control" %><br>
	</div>
	
	<%= f.fields_for :ingredient_attributes do |ingredients| %>
		<div class="form-group">
			<%= ingredients.label "Add Ingredients: Please put each ingredient on a separate line", autofocus: true %><br>
			<p>( add a " - " between measurment and ingredient )</p>
			<%= ingredients.text_area :ingredients, cols: 55, rows: 10, placeholder: "ex: 1 1/2 cups - flour", class: "form-control" %><br>
		</div>
	<% end %>
	
	<div class="form-group">
		<%= f.label 'Directions:' %><br>
		<%= f.text_area :directions,  cols: 55, rows: 10, placeholder: "Please put each step on a separate line", class: "form-control" %><br>
	</div>

	<div>
		<%= f.submit nil, class: "btn btn-primary" %><br>
	</div>
<% end %>


