<div class="panel panel-default" id="search">
	<div class="panel-heading">
		<h2>Search:</h2>
	</div>
	<div class="panel-body">
		<%= form_tag '/search', id: 'search_form', method: 'POST' do %>
			<%= text_field_tag :query, nil, class: "form-control comment", placeholder: "search by name or ingredient" %><br>
			<%= submit_tag 'Search Recipes', class: "btn btn-primary" %>
		<% end %>
		<p></p>
			
		<p><%= link_to "other search options", search_path %></p>
	</div>
</div>

<!-- insert results from search here -->
<div id="recipes">
	<% if !@recipes.empty? %>

		<% @recipes.each do |recipe| %>
			<div class="panel panel-default comment">
				<div class="panel-heading">
					<strong><%= link_to titleize(recipe), recipe_path(recipe) %></strong> by: <%= link_to recipe.user_name, user_path(recipe.user) %>
				</div>
				<div class="panel-body">
					<p>Posted on: <%= post_date(recipe) %></p>
					<p><%= "Rating: #{recipe.rating_avg}" if recipe.try(:rating_avg) %></p>
					<div class="hidden" id="comments-list">
						<% recipe.comments.each do |comment| %>
							<div class="panel shadow">
								<p><%= comment.content %></p>
								<p>By: <%= link_to comment.commenter.email_name, user_path(comment.commenter) %></p>
							</div>
						<% end %>
					</div>
					<%= button_tag "See Comments", class: 'btn btn-default', id: "see-comments", data: { id: recipe.id } unless recipe.comments.blank? %>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="panel">
			no recipes to display
		</div>
	<% end %>
</div>

<a href="" id="load" class="btn btn-primary">Load More Recipes</a>


<!-- template to inject recipe data into -->

<script id="recipe-template" type="text/x-handlebars-template">
  <div class="panel panel-default comment">
  	<div class="panel-heading" >
    	<strong><a href="recipes/{{id}}">{{name}}</a></strong> by: <a href="users/{{user_id}}">{{userName}}</a>
    </div>
		<div class="panel-body">
      <p>Posted on: {{body}}</p>
			{{#if rating}}
				<p>Rating: {{rating}}</p>
			{{/if}}
			{{#if comments}}
				<div class="hidden" id="comments-list">
					{{#each comments}}
						<div class='panel shadow'>
							<p>{{this.content}}</p>
							<p>By: <a href="recipes/{{this.commenter.id}}">{{this.commenter.email}}</a></p>
						</div>
					{{/each}}
				</div>
				<button name="button" type="submit" class="btn btn-default" id="see-comments" data-id="{{id}}">See Comments</button>
			{{/if}}
    </div>
  </div>
</script>










