<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
<div class="search-moment-container">

	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Search Recipes</h2>
			<%= form_tag '/search', id: 'search_form', method: 'POST' do %>
				
				<%= text_field_tag :query, nil, class: "form-control comment", placeholder: "search recipe name, ingredient or rating (1-5)" %>
				
					
				<button type="submit" name="commit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			<% end %>
		
				
			<%= link_to "Browse Ingredients", ingredients_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>
<div class="container" id="main">
	<!-- insert results from search here -->
		<% if !@recipes.empty? %>
			<div id="recipes">
				<% @recipes.in_groups_of(3, false) do |group| %>
					<div class="row">
						<% group.each do |recipe| %>
							<div class="col-md-4" >
								<div class="col-md-12 recipe-index">
									<%= link_to (image_tag recipe.image.url(:original), class: 'index-image'), recipe_path(recipe) %>
									<p></p>
									<strong><%= link_to titleize(recipe), recipe_path(recipe) %></strong>
									<p></p>
									<p><h6>Posted on: <%= post_date(recipe) %></h6></p>
									<% if recipe.try(:rating_avg) %>
										<div class="rating-box"><div class="display-rating" data-rating=<%=recipe.rating_avg%>></div> (<%= recipe.ratings.size%>)</div>
									<% end %>
									<%= button_tag "See Comments", class: 'see-comments btn btn-default', data: { id: recipe.id, toggle: 'collapse', target: "#collapse#{recipe.id}" } unless recipe.comments.blank? %>
									<div class="collapse" id="collapse<%=recipe.id%>">
										<% recipe.comments.each do |comment| %>
											<div class="comment-well">
												<p><%= comment.content %></p>
												<h6>posted on: <%= post_date(comment) %></h6>
												<div class="recipe-profile-card">
													<%= link_to (image_tag comment.commenter.avatar.url(:thumb), class: 'img-circle'), user_path(comment.commenter) %>
													By: <%= link_to comment.commenter.email_name, user_path(comment.commenter) %>
												</div>
											</div>
										<% end %>
									</div>
									<div class="recipe-profile-card">
										<%= link_to (image_tag recipe.user.avatar.url(:thumb), class: 'img-circle'), user_path(recipe.user) %>
										Recipe by: <%= link_to recipe.user_name, user_path(recipe.user) %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		<% else %>
			<div class="panel">
				no recipes to display
			</div>
		<% end %>
	</div>
</div>
	<!-- <p class='text-center'><a href="" id="get-recipes" class="btn btn-primary">See More Recipes</a></p> -->



<!-- template to inject recipe data into -->

<script id="recipe-template" type="text/x-handlebars-template">
	<div class="col-md-4">
	  <div class="col-md-12 recipe-index">	
			<a href="/recipes/{{id}}"><img class="index-image" src="/assets/{{imageUrl}}" alt="recipe image"></a>
			<p></p>
			<strong><a href="/recipes/{{id}}">{{name}}</a></strong>
			<p></p>
      <p>Posted on: {{body}}</p>
			{{#if rating}}
				<div class="rating-box"><div class="display-rating" data-rating={{rating}}></div> ({{ratingLength}})</div>
			{{/if}}
			{{#if comments}}
				<button name="button" type="submit" class="see-comments btn btn-default collapsed" data-id="{{id}}" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="false">See Comments</button>
				<div class="collapse" id="collapse{{id}}">
					{{#each comments}}
						<div class='comment-well'>
							<p>{{this.content}}</p>
							<p>By: <a href="recipes/{{this.commenter.id}}">{{this.commenter.email}}</a></p>
						</div>
					{{/each}}
				</div>
			{{/if}}
			<div class="recipe-profile-card">
				<a href="/users/{{user_id}}"><img class="img-circle" src="/assets/{{thumb}}" alt="User thumb"></a>
				Recipe by: <a href="/users/{{user_id}}">{{userName}}</a>
			</div>
	  </div>
  </div>
</script>

<script type="text/javascript">
	function queryRecipes() {
		var data = { limit: 0 };
		$(window).scroll(function() {
	    if($(window).scrollTop() + $(window).height() == $(document).height()) {
	     	data["limit"] += 9;
	      getMoreRecipes(data);
	    }
	  });
	}

	function getMoreRecipes(data) {	
		$.get('/recipes.json', data, function(response) {
			var recipes = response.recipes;
			parseAndDisplay(recipes);
		});	
	}

	queryRecipes();		

</script>





