<div class='panel panel-default' >
	<div class="panel-heading">
		<h2><%= titleize(@recipe) %></h2> 
	</div>
		<div class='panel-body' > 
			by <%= link_to @recipe.user.email_name, user_path(@recipe.user.id) %> 
			<p>posted on: <%= post_date(@recipe) %></p>
			<p></p>

		<% unless @recipe.ratings.empty? %>
			<div class='panel panel-default comment' >
				<div class="panel-heading">
					<strong>Overall rating:</strong>
				</div>
				
				<div class="panel-body">
					<%= @recipe.rating_avg %> (out of 5)
				</div>
			</div>
		<% end %>
		
		<div class='panel panel-default comment' >
			<div class="panel-heading">
				<strong>Description:</strong>
			</div>
			<div class="panel-body">
				<%= @recipe.description %>
			</div>
		</div>	
			
		<div class='panel panel-default comment' >
			<div class="panel-heading">	
				<strong>Ingredients:</strong>
			</div>
			<div class="panel-body">
				<ul>
					<% @recipe.recipe_ingredients.each do |ingredient| %>
						<li><%= ingredient.measurement %>  <%= titleize(ingredient) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		
		<div class='panel panel-default comment' >
			<div class="panel-heading">
				<strong>Directions:</strong>
			</div>
			<div class="panel-body">
				<ol>
					<% @recipe.directions_to_list.each do |direction| %>
						<li><%= direction.capitalize %></li>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>



<% "<strong>Comments:</strong>" unless @recipe.comments.empty? %>
	
		
<%= render partial: 'display_comment', locals: { comments: @recipe.comments.dated } %>


<div class="panel panel-default comment" id="comment_form" >
	<div class="panel-heading">
		<strong>Comment on the recipe:</strong>
	</div>
	
	<div class="panel-body">
		<%= form_for @recipe.comments.build, remote: true, data: { confirm: "Thanks for your comment!" }, action: comments_path, method: 'post' do |f| %>
			<%= f.hidden_field :recipe_id, value: @recipe.id %>
			<div class="form-group">
				<%= f.label "Add a comment" %>
				<%= f.text_area :content, cols: 55, rows: 5, class: "form-control" %>
			</div>
			<%= f.submit class: "btn btn-primary" %>
		<% end %>
	</div>
</div>



<div class="panel panel-default comment">
	<div class="panel-heading">
		<strong>Rate this recipe:</strong>
	</div>
	
	<div class="panel-body">
		<%= form_for @recipe.ratings.build, action: ratings_path, method: 'post' do |f| %>
			<%= f.hidden_field :recipe_id, value: @recipe.id %>
			<div class="form-group">
				<%= f.label "Add a rating" %>
				<%= f.select :score, [1,2,3,4,5], { prompt: true }, class: "form-control" %>
			</div>
			<%= f.submit "submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
















