<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%= @user.email_name %>'s profile</h2>
	</div>
	<div class="panel-body">
		<strong><%= link_to "Comments", user_comments_path(@user), class: "btn btn-link" %></strong>
		<p></p>
		<%= form_tag comments_path, method: 'get' do %>
			<%= hidden_field_tag :commenter_id, @user.id %>
			<strong><%= submit_tag "Reviews", class: "btn btn-link" %></strong>
		<% end %>
	</div>
</div>


	<% if !@user.recipes.empty? %>
		<div id='user-recipes'>
			<% @user.recipes.in_groups_of(3, false) do |group| %>
				<div class="row">
					<% group.each do |recipe| %> 
						<div class="col-md-4">
							<div class="inner-comment-box">
								<div class="panel-heading">
									<strong><%= link_to titleize(recipe), recipe_path(recipe) %></strong>
								</div>
								
								<div class="panel-body">	
									<p>Posted on: <%= post_date(recipe) %></p>
									<% if recipe.try(:rating_avg) %>
										<div class="display-rating" data-id=<%=recipe.id%> data-rating=<%=recipe.rating_avg%>></div>
									<% end %>
									<%= button_tag "See Comments", class: 'see-comments btn btn-default', data: { id: recipe.id, toggle: 'collapse', target: "#collapse#{recipe.id}" } unless recipe.comments.blank? %>
									<div class="collapse" id="collapse<%=recipe.id%>">
										<% recipe.comments.each do |comment| %>
											<div class="comment-well">
												<p><%= comment.content %></p>
												<p>By: <%= link_to comment.commenter.email_name, user_path(comment.commenter) %> posted on: <%= post_date(comment) %></p>
											</div>
										<% end %>
									</div>
									
									<p></p>
									<p><%= link_to 'edit', edit_recipe_path(recipe) if can? :update, recipe %>
									<%= link_to 'delete', recipe_path(recipe), method: 'delete' if can? :destroy, recipe %></p>

								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% else %>
		<div class="panel">
			no recipes to display
		</div>
	<% end %>



