<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%= @user.email_name %>'s profile</h2>
	</div>
	<div class="panel-body">
		<strong><%= link_to "Recipes", user_recipes_path(@user), class: "btn btn-link" %></strong>
		<p></p>
		<strong><%= link_to "Comments", user_comments_path(@user), class: "btn btn-link" %></strong>
		<p></p>
		<%= form_tag comments_path, method: 'get' do %>
			<%= hidden_field_tag :commenter_id, @user.id %>
			<strong><%= submit_tag "Reviews", class: "btn btn-link" %></strong>
		<% end %>
	</div>


</div>